# @package _global_
model:
  name: CT
  multi:                                  # Missing hyperparameters are to be filled in command line / with tune_hparams = True / selected with +backbone/ct_hparams=...
    _target_: src.models.ct.CT
    max_seq_length: ${sum:${dataset.max_seq_length},${oc.select:dataset.projection_horizon,0}}  # Will be calculated dynamically
    seq_hidden_units: 16                   # transformer hidden units (d_h / d_model)
    br_size: 12
    fc_hidden_units: 24
    dropout_rate: 0.1                       # Dropout between transformer layers + output layers + attentional dropout
    num_layer: 4
    num_heads: 4
    max_grad_norm: 1.0
    batch_size: 128
    attn_dropout: True
    disable_cross_attention: False
    isolate_subnetwork: _
    use_frontend: False
    frontend_type: conv
    frontend_hidden: 128
    frontend_layers: 3
    frontend_dropout: 0.1
    self_positional_encoding:
      absolute: False
      trainable: True
      max_relative_position: 15
    optimizer:
      optimizer_cls: adam
      learning_rate: 0.001
      weight_decay: 0.0
      lr_scheduler: False
      lr_scheduler_params: {}

    augment_with_masked_vitals: True

    tune_hparams: False
    tune_range: 50
    hparams_grid:
    resources_per_trial:

exp:
  weights_ema: True
  balancing: domain_confusion
  alpha: 0.01
